{% extends "base_template/base_site.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}


{% comment %} {% block title %} Dashboard {% endblock title %} {% endcomment %}

{% block content %}
<div class="right_col" role="main">
    <div>
        {% include "components/messages.html" %}
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2> {{title}} <small>follow instruction carefully</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                {% crispy form %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
    $(function() {
        // on-blur aplied vat in total amount.
        $("#id_received_method").on("change", function (e) {                
            // Gets the last selected item ID
            const paidFrom = this.value;
            const bankInfo = $('#div_id_bank_info');
            const cashBalanceDiv = $('#div_id_cash_balance');
            const cashBalance = $('#id_cash_balance');
            console.log('paid method', paidFrom); 
            // Toggle visibility of elements based on payment method
            if (paidFrom === 'cash') {
                bankInfo.hide();
                cashBalanceDiv.show();
                // Select the first option (assuming it's the cash balance)
                console.log(cashBalance);
                cashBalance.prop('selectedIndex', 1);  // Uses prop() for select elements
            } else if (paidFrom === 'bank') {
                cashBalanceDiv.hide();
                bankInfo.show();
                cashBalance.prop('selectedIndex', 0) // Deselect cashBalance  user -1 is best practice
            } else {
                // Handle other payment methods (optional)
                bankInfo.show();
                cashBalanceDiv.show();
                cashBalance.prop('selectedIndex', 0)  // Deselect cashBalance  user -1 is best practice
            }
        });

    });
</script>
{% endblock js %}