{% extends "app/base_site.html" %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
<div class="container"> 
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-3 col-sm-3 text-center">
                <img src="{% static 'image/logo.jpeg' %}" class="logo" style="width: 120px;">
            </div>
            <div class="col-md-6 col-sm-6 text-center ">
                <h3 class = "font-weight-normal">ASR TECHNOLOGIES BANGLADESH</h3>
                <h4 class = "font-weight-light"> Noya Paltan, Dhaka-1000 </h4>
                <h4 class = "font-weight-normal text-uppercase"><u> {{ title }}</u> </h4>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <button type="button" class="btn btn-primary d-print-none" onclick="print()">
                    <i class="fa fa-print"></i>
                </button>
                <a onclick="history.back()">
                    <button type="button" class="btn btn-warning d-print-none">
                        <i class="fa fa-backward"></i>
                    </button>
                </a>
            </div>
            <div class="col-md-12"> <!-- COLUMN NO-01 -->
                
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                
            </div>
        </div>
    </div>
  </div>
</div>  
{% endblock body %}

