{% extends "base_template/base_site.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}


{% comment %} {% block title %} Expendature {% endblock title %} {% endcomment %}

{% block content %}
<div class="right_col" role="main">
    <div>
        {% include "components/messages.html" %}
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2> {{title|title}} <small>follow instruction carefully</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                {% crispy form %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(function() {            

        $("#id_main_head").on("change", function (e) {                
            // Gets the last selected item ID
            const selectedItemId = parseInt(this.value);
            // console.log('Selected id', selectedItemId);                
            var url = '{% url 'get_sub_head_api' 22 %}'; // This URL comes from cost_head urls.
            const url_code = url.replace(22, selectedItemId);
            
            if (selectedItemId){
                $.ajax({                       // initialize an AJAX request
                type: "get",
                url: url_code,
                data: {
                    'id': selectedItemId,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) { 
                    let html_data = '<option value="">Choose one</option>';
                    data.forEach(function (data) {
                        html_data += `<option value="${data.id}">${data.name}</option>`;
                    });
                    $("#id_sub_head").html(html_data);
                    
                }
                });
            }
        });

         // on-blur aplied vat in total amount.
        $('#id_due_amount').blur(function () {
            const total_amount = $('#id_total_amount').val();
            const due_amount = $('#id_due_amount').val();
            const paid_amount = $('#id_paid_amount');
            const to_pay = total_amount - due_amount;
            paid_amount.val(to_pay);
            // console.log("working....");
        });

        // on-blur aplied vat in total amount.
        $("#id_paid_method").on("change", function (e) {                
            // Gets the last selected item ID
            const paidFrom = this.value;
            const bankInfo = $('#div_id_bank_info');
            const chequeNo = $('#div_id_cheque_no');
            const cashBalanceDiv = $('#div_id_cash_balance');
            const cashBalance = $('#id_cash_balance');
            console.log('paid method', paidFrom); 
            // Toggle visibility of elements based on payment method
            if (paidFrom === 'cash') {
                bankInfo.hide();
                chequeNo.hide();
                cashBalanceDiv.show();
                // Select the first option (assuming it's the cash balance)
                console.log(cashBalance);
                cashBalance.prop('selectedIndex', 1);  // Uses prop() for select elements
            } else if (paidFrom === 'bank') {
                cashBalanceDiv.hide();
                bankInfo.show();
                chequeNo.show();
                cashBalance.prop('selectedIndex', 0) // Deselect cashBalance  user -1 is best practice
            } else {
                // Handle other payment methods (optional)
                bankInfo.show();
                chequeNo.show();
                cashBalanceDiv.show();
                cashBalance.prop('selectedIndex', 0)  // Deselect cashBalance  user -1 is best practice
            }
        });

    });
</script>
{% endblock js %}