{% extends "base_template/base_site.html" %}
{% load static %}

{% block content %}
<div class="right_col" role="main" id="pdf_content">
    <style type="text/css">
        @media print {
            /* Hide every other element.*/
            body *{visibility: hidden;}
            .print-container *{ visibility: visible;}
        }
        @page {
            size: letter;
        }
    </style>
    <div>
        {% include "components/messages.html" %}
    </div>
    <div class="row print-container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-sm-3 text-center">
                    <img src="{% static 'image/logo.png' %}" class="logo" style="width: 120px;">
                </div>
                    <div class="col-md-6 col-sm-6 text-center ">
                        <h3 class = "font-weight-normal">ASR TECHNOLOGIES BANGLADESH</h3>
                        <h4 class = "font-weight-light"> Noya Paltan, Dhaka-1000 </h4>
                        <h4 class = "font-weight-normal text-uppercase"><u> {{ title }}</u> </h4>
                    </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <button type="button" class="btn btn-primary d-print-none" id="generate-pdf">
                        <i class="fa fa-download"></i>
                    </button>
                    <button type="button" class="btn btn-secondary d-print-none" onclick="print()">
                        <i class="fa fa-print"></i>
                    </button>
                    <a onclick="history.back()">
                        <button type="button" class="btn btn-warning d-print-none">
                            <i class="fa fa-backward"></i>
                        </button>
                    </a>
                </div>
                <div class="col-md-12"> <!-- COLUMN NO-01 -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-dark">
                                    <th class="w-40">Item</th>
                                    <th class="w-60">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for name, value in instance.get_fields %}
                                    <tr>
                                        <td>{{ name }}</td>
                                        <td class="text-wrap">{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
    document.getElementById("generate-pdf").addEventListener("click", function() {
        const element = document.getElementById("pdf_content"); // Replace with the ID of the element you want to convert

        var opt = {
            margin:       [.5, .5, .5, .5], // [top, left, bottom, right]
            filename:     'myfile.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
            html2canvas:  { scale: 2 },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
        };
        
        // New Promise-based usage:
        html2pdf().set(opt).from(element).save();
    
        // html2pdf().from(element).save("document.pdf"); // This will save the PDF with the name "document.pdf"
    });
</script>
{% endblock js %}