{% load static %}
<div class="left_col">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'dashboard' %}" class="site_title"><i class="fa fa-certificate"></i> <span>ASR</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{% static 'images/img.jpg' %}" alt="profile_image" class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General Section</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Dashboard </a>
        </li>
        <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Reference </a>
        </li>
        <li><a><i class="fa fa-group"></i> Employee List <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'create_new_user' %}">Create-User</a></li>
            <li><a href="{% url 'site_engineer_create' %}">Create-Engineer</a></li>
            <li><a href="{% url 'site_engineer_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-cubes"></i> Tender-Project <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'tender_project_create' %}">Create</a></li>
            <li><a href="{% url 'tender_project_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-money"></i> Retension Money <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'retension_create' %}">New</a></li>
            <li><a href="{% url 'retension_list' %}">List</a></li>
          </ul>
        </li>
        <li><a href="{% url "expenditure_dashboard" %}"><i class="fa fa-qrcode"></i> Expendature</a></li>
        <li><a href="{% url "received_dashboard" %}"><i class="fa fa-credit-card"></i> Received Money</a></li>
        
        <li><a><i class="fa fa-edit"></i> Cost Main Head <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'main_head_create' %}">New</a></li>
            <li><a href="{% url 'main_head_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Cost Sub Head <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'sub_head_create' %}">New</a></li>
            <li><a href="{% url 'sub_head_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-university"></i> Bank Information <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'bank_info_create' %}">New</a></li>
            <li><a href="{% url 'bank_info_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-commenting"></i> Messages</a></li>
        
        <li><a href="{#" target="_blank"><i class="fa fa-globe"></i> Portfolio Site</a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
