{% load static %}
<div class="left_col">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'dashboard' %}" class="site_title">
      <img src="{% static 'image/logo.png' %}" alt="company logo" class="img-fluid img-thumbnai" style="width: 70px; height:40px">
      <span>Technologies</span>
    </a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/media/{{ request.user.user_profile.profile_img }}" alt="profile_image" class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ request.user.get_full_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General Section</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Dashboard </a>
        </li>
        <!-- <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Reference </a></li> -->
        <li><a><i class="fa fa-group"></i> Employee List <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'create_new_user' %}">Create-User</a></li>
            <li><a href="{% url 'all_user_list' %}">User List</a></li>
            <li><a href="{% url 'site_engineer_create' %}">Create-Engineer</a></li>
            <li><a href="{% url 'site_engineer_list' %}">Engineer List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-cubes"></i> Tender-Project <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'tender_project_create' %}">Create</a></li>
            <li><a href="{% url 'tender_project_list' %}">Ongoing List</a></li>
            <li><a href="#">Completed List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-cubes"></i> Loan Borrower <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'loan_borrower_create' %}">Create</a></li>
            <li><a href="{% url 'loan_borrower_list' %}">List</a></li>
          </ul>
        </li>
        <!-- <li><a><i class="fa fa-money"></i> Retension Money <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'retension_create' %}">New</a></li>
            <li><a href="{% url 'retension_list' %}">List</a></li>
          </ul>
        </li> -->
        <li><a href="{% url "expenditure_dashboard" %}"><i class="fa fa-qrcode"></i> Expendature</a></li>
        <li><a href="{% url "received_dashboard" %}"><i class="fa fa-credit-card"></i> Received Money</a></li>
        
        <li><a><i class="fa fa-edit"></i> Cost Main Head <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'main_head_create' %}">New</a></li>
            <li><a href="{% url 'main_head_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Cost Sub Head <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'sub_head_create' %}">New</a></li>
            <li><a href="{% url 'sub_head_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-university"></i> Bank Information <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'bank_info_create' %}">New</a></li>
            <li><a href="{% url 'bank_info_list' %}">List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-dollar"></i> Cash Balance <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'cash_balance_list' %}">Balance</a></li>
            <li><a href="{% url 'cash_in_create' %}">Cash IN</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-file-pdf-o"></i> Report</a></li>
        
        <!-- <li><a href="{#" target="_blank"><i class="fa fa-globe"></i> Portfolio Site</a></li> -->
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
