{% extends "base_template/base_site.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Password Change {% endblock title %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
<div>
    <div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Login Form</h1>
            <div>
            {{ form|crispy }}
            </div>
            
            <div>
            <button type="submit" class="btn btn-default">Change</button>
            <a class="reset_pass" href="{% url "dashboard" %}">Go back</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

            <div>
                <h1><i class="fa fa-paw"></i> ASR Technology</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela!</p>
            </div>
            </div>
        </form>
        </section>
    </div>
    </div>
</div>
{% endblock body %}

