{% extends "base_template/base_site.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
<div>
    <div class="login_wrapper">
    <div class="animate form login_form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div>
            {{ form|crispy }}
            </div>
            
            <div>
                <button type="submit" class="btn btn-success">Singup</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
            <p class="change_link">New to site?
                <a href="{% url "user_login" %}" class="to_register"> Already a member ? </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div class="text-center">
                <h1><i class="fa fa-paw"></i> ASR Technology</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela!</p>
            </div>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock body %}


